@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #3e3c68, #4e5f77);
    
}

.calculator{
    border: 1px solid #717377;
    padding: 10px;
    border-radius: 30px;
 

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color:white;
    font-size: 25px;
    cursor: pointer;
}

.equalBtn{
    background-color: #45b045;
}

.operator{
    color: yellow;
}